.form {
    background-color: #383838;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin: 50px auto;
    text-align: center;
    z-index: 2;
    position: absolute;
    left: -530px;
    top: -200px;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
}

h2 {
    margin-bottom: 20px;
}

.input {
    background-color: #282828;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.submit {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 5px;
}

.submit:hover {
    background-color: #45a049;
}

p {
    margin-top: 20px;
    font-weight: bold;
}
